/* App.css */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .left-pane, .right-pane {
    flex: 1;
    padding: 20px;
  }
  
  .logo {
    font-size: 3rem;
    color: #e53935; /* JobQuest logo color */
    margin-bottom: 20px;
  }
  
  .stats {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .stats-icon {
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .testimonial {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    border-radius: 50%;
    width: 580px;
    height: 750px;
    margin-left: 150px;
  }
  
  .testimonial-name {
    font-weight: bold;
  }
  
  .testimonial-title {
    font-style: italic;
  }
  
  .testimonial-quote {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
  }
  
  .tab {
    padding: 10px;
    cursor: pointer;
  }
  
  .tab.active {
    border-bottom: 2px solid #e53935;
  }
  
  .registration h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .google-signup {
    background-color: #4285F4;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .button-container {
    text-align: center;
  }
  
  .divider {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .continue {
    background-color: #e53935;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  
  .login-prompt {
    text-align: center;
    margin-top: 20px;
  }
  
  .tos {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #e53935;
    text-decoration: none;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .App {
      flex-direction: column;
    }
  }
  